__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pyc
*.pyo
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
var/
wheels/
*.wheel
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.eggs/
venv*/
ENV/
.instance/
uploads/*
!uploads/.gitkeep
instance/
*.db
.DS_Store
Thumbs.db

